@font-face {
    font-family: head_topic_regular;
    src: url("fonts/Cairo/Cairo-Regular.ttf");
    font-weight: normal;
    font-size: 24pt;
}

@font-face {
    font-family: head_topic_bold;
    src: url('fonts/Cairo/Cairo-Bold.ttf');
    font-weight: normal;
    font-size: 24pt;
}

// Colors
$primary-color: #6200EE;
$primary-color-hover: #6250EE;
$secondary-color: #B00020;
$secondary-color-hover: #D42646;
$tertiary-color: #422C2E;
$background-color: #FEEFE6;
$border-color: #5D1049;
$error-color: #E38C09;
$error-color-hover: rgb(228, 153, 40);


// Global Colors
$white: #ffffff;
$blue: #007bff;
$blue-hover: #53a6ff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$green-hover: #60c277;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$black: #000;
$gray: #868e96;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #868e96;
$success: #28a745;
$info: #17a2b8;
$info-hover: #26b6cc;
$warning: #ffc107;
$danger: #dc3545;
$danger-hover: #e65f6c;
$light: #f8f9fa;
$dark: #343a40;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 300;
    background-color: $light;
}

// Default
h1, h2, h3, h4, h5, h6, p, span, label, input, a {
    font-weight: 300;
    font-family: 'head_topic_regular', serif;
    font-size: 20px;
}
a{
    text-decoration: none;
}

// General

// Start defaut buttons
.btn{
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    border-radius: 5px;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: $white;
    transition: 0.4s;
}
.btn-primary {
    background-color: $primary-color;
    &:hover {
        background-color: $primary-color-hover;
    }
}

.btn-secondary {
    background-color: $white;
    border: 1px solid $primary-color;
    color: $primary-color;
    &:hover {
        color: $primary-color-hover;
        background-color: $white;
    }
}
// End defaut buttons

// Start default input, label
.input-text{
    width:200px;
    height: 30px;
    line-height: 30px;
    margin: 1rem 0;
    padding: 1rem 1rem;
    color: $primary-color;
    border: 1px solid $primary-color;
    font-size: 12px;
    outline: none;
    &:focus{
        box-shadow: 0 0 10px $primary-color-hover;
        transition: 0.5s;
    }
}
.input-textarea{
    width:200px;
    height: 100px;
    margin: 1rem 0;
    padding: 1rem 1rem;
    font-size: 12px;
    color: $primary-color;
    border: 1px solid $primary-color;
    resize: none;
    outline: none;
    &:focus{
        box-shadow: 0 0 10px $primary-color-hover;
        transition: 0.5s;
    }
}
label{
    height: 30px;
    margin: 1rem 0;
    line-height: 2.99px;
    padding: 1rem 1rem;
    color: $primary-color;
    font-size: 15px;
}
// End default input, label

// Error style
.error {
    color: $error-color;
}
.input-error {
    border: 1.2px solid $error-color;
}

// Start flex classes
.flex{
    display: flex;
}
.center-center{
    justify-content: center;
    align-items: center;
}
.center-top{
    justify-content: center;
    align-items: top;
}
.top-center{
    justify-content: top;
    align-items: center;
}
.top-top{
    justify-content: top;
    align-items: top;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.just-cont-center{
    justify-content: center;
}
.just-cont-flex-start{
    justify-content: flex-start;
}
.just-cont-flex-end{
    justify-content: flex-end;
}
.al-items-center{
    align-items: center;
}
.al-items-flex-start{
    align-items: flex-start;
}
.al-items-flex-end{
    align-items: flex-end;
}
// End flex classes

// Default alert message
.alert{
    width: 100%;
    min-height: 80px;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    ul{
        padding: 10px;
    }
    li{
        margin: 10px 0;
    }
    &.success{
        background: $success;
        color: $white;
    }
    &.danger{
        background: $error-color;
        color: $white;
    }
}


// Default container
.container{
    width: 100%;
    height: 100%;
}

// Default section
section{
    width: 100%;
    min-height: 500px;
    padding: 10px;
    background-color: $light;
    border-bottom: 1px solid $primary-color;
}

// Default card style
.card{
    display: flex;
    flex-wrap: wrap;
    .card-container{
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        background: #FFF;
        border-radius: 6px;
        border: 1px solid $primary-color;
        margin: 3rem;
        .upper-container{
            flex: 1.5;
            padding: 16px;
            img{
                width: 80%;
                height: 100%;
            }
        }
        .lower-container{
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{
                text-align: center;
                margin-bottom: 5px;
            }
            p{
                font-size: 1rem;
                text-align: center;
                margin-bottom: 0.5rem;
            }
        }
    }
}
.form-container{
    width: 100%;
    height: 90vh;
    background: url('/assets/images/hero_section.jpg');
    background-position: top;
    background-repeat: no-repeat;
    form{        
        width: 500px;
        height: 600px;
        background-color: $white;
        opacity: 0.95;
        border-radius: 40px;
        .form-sample{
            margin-bottom: 20px;
        }
        button{
            margin: 20px 0;
        }
        a{
            margin: 5px 0;
            color: $primary-color;
            font-size: 15px;
            &:hover{
                color: $primary-color-hover;
            }
        }
    }
}

// Default title-field
.wrapper{
    width: 100%;
    min-height: 90vh;
    .back-button{
        width: 90%;
        margin: 50px 40px;
    }
    .title-with-field{
        width: auto;
        min-width: 60%;
        .fields-section{
            width: 100%;
            .header-title{
                margin: 20px 0;
                p{ 
                    font-size: 30px;
                    color: $gray;
                }
                hr.bar{
                    width: 250px;
                    height: 1px;
                    background-color: $primary-color;
                }
            }
            .fields{
                width: 100%;
                justify-content: space-between;
                .column{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    .label-side, .input-side{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        width: 250px;
                    }
                }
            }
        }
        .button{
            margin: 40px 0;
        }
    }
}

// Start Styling

// Main header of user side
// Path: user.partials.header

header{
    width: 100%;
    height: 10vh;
    text-align: center;
    background-color: $light;
    border-bottom: 1px solid $primary-color;
    nav{
        justify-content: space-between;
        height: 10vh;
        .logo{
            justify-content: flex-end;
            align-items: center;
            flex: 1;
            a{
                height: 10vh;
                align-items: center;
                img {
                    height: 7vh;
                    width: 150px;
                }
            }
        }
        .register-form{
            height: 10vh;
            max-width: 600px;
            justify-content: space-around;
            align-items: center;
            flex: 2;
            li{
                a{
                    width: 250px;
                }
            }
        }
        .account{
            height: 10vh;
            justify-content: flex-start;
            flex: 1;
            .auth{
                height: 10vh;
                width: 420px;
                justify-content: flex-end;
                align-items: center;
                .right{
                    position: relative;
                    ul{
                        li{
                            a{
                                align-items: center;
                                i, p, span, img{
                                    margin: 0 10px;
                                    color: $primary-color;
                                    &:hover{
                                        color: $primary-color-hover;
                                    }
                                }
                                p{
                                    font-size: 15px;
                                }
                            }
                            .dropdown{
                                min-width: 220px;
                                position: absolute;
                                top: 10vh;
                                right: 15px;
                                left: 15px;
                                background-color: $white;
                                padding: 10px 25px;
                                border-radius: 5px;
                                display: none;
                                .fas{
                                    margin: 0 10px;
                                }
                                &:before{
                                    content: "";
                                    position: absolute;
                                    top: -20px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    border: 10px solid;
                                    border-color: transparent transparent $white transparent;
                                }
                                ul{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: cn;
                                    align-items: flex-start;
                                    li{
                                        a{
                                            color: $primary-color;
                                            &:hover{
                                                color: $primary-color-hover;
                                            }
                                        }
                                    }
                                }
                            }
                            &.active{
                                .dropdown{
                                    display: block;
                                }
                            }
                        }
                    }
                }
                .left{
                    ul{
                        li{
                            margin: 0 15px;
                            a{
                                color: $primary-color;
                                &:hover{
                                    color: $primary-color-hover;
                                }
                            }
                        }
                    }
                }
            }
            ul.not-auth{
                height: 10vh;
                line-height: 10vh;
                li{
                    display: inline-block;
                    margin: 0 20px;
                    a.locale{
                        color: $primary-color;
                        &:hover{
                            color: $primary-color-hover;
                        }
                    }
                }
            }
        }
    }
}

// start footer design
footer {
    display: block;
    width: 100%;
    max-height: 300px;
    background-color: $gray-dark;
    .footer-social-media {
        margin-bottom: 20px;
        a {
            color: $white;
            text-decoration: none;
            size: 1rem;
            padding: 0 1rem;
            &:hover {
                color: $primary-color-hover;
            }
        }
    }
    .footer-links{
        margin-bottom: 20px;
        span {
            padding: 0 1rem;
            color: $white;
        }
        a{
            color: $white;
            text-decoration: none;
            size: 1rem;
            &:hover {
                color: $primary-color-hover;
            }
        }
    }
    .footer-company-name {
        margin-bottom: 20px;
        color: $white;
        font-weight: bold;
    }
}
// End footer


// Start user home page
// Path: user.homepage
.homepage{
    section.hero-section{
        height: 60vh;
        background: url('/assets/images/hero_section.jpg');
        background-position: top;
        background-repeat: no-repeat;
        p{
            color: $white;
            font-size: 60px;
            margin-bottom: 30px;
        }
        a.btn.btn-primary{
            background-color: $error-color;
            &:hover{
                background-color: $error-color-hover;
            }
        }
    }
    section.suggestion{
        padding: 20px 0;
        p{
            width: 100%;
            text-align: center;
            font-size: 40px;
            color: $tertiary-color;
        }
        form{
            width: 400px;
            height: 300px;
            margin: 20px 0;
            .input-text, .input-textarea{
                width: 100%;
            }
        }
    }
}
// End user home page

// Start login system forms

// login form
// Path: user.auth.login
.form-container.login{
    form{        
        height: 400px;
    }
}
.form-container.email{
    form{        
        height: 250px;
        border-radius: 5px;
    }
}

// verify page
// path: views/users/auth/verify
.form-container.reset{
    form{        
        button{
            width: 200px;
        }
    }
}

// verify page
// path: views/users/auth/verify

.verify{
    height: 90vh;
    background: $white;
    .box {
        background-color: $light;
        width: 60%;
        height: 200px;
        border: 1px solid $primary-color;
        border-radius: 0 0 10px 10px;
        .up {
            flex: 1.5;
            background: $primary-color;
            .showcase {
                width: 100%;
                .showcase-content {
                    font-size: 2rem;
                    color: $white;
                }
            }
        }

        .down {
            flex: 4;
            width: 100%;
            .content{
                width: 100%;
                font-size: 1.3rem;
            }
            a{
                color: $primary-color;
                text-decoration: none;
                size: 16px;
                &:hover {
                    color: $primary-color-hover;
                }
            }
        }
    }
}
// End login system forms

