*.exe
*.exe~
*.orig
*.test
.*.swp
.DS_Store
.idea/
nbproject/
/nbproject/private/
.vscode/
/data
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
composer.lock
package.json
package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js
.gitignore

# Webpack build
/public/assets/css/
/public/assets/js/
/public/assets/images
/public/assets/fonts
/public/css
/public/js
/public/mix-manifest.json


# eclipse ide
.buildpath
.project
.settings/
