@font-face {
    font-family: head_topic_regular;
    src: url("fonts/Cairo/Cairo-Regular.ttf");
    font-weight: normal;
    font-size: 24pt;
}

@font-face {
    font-family: head_topic_bold;
    src: url('fonts/Cairo/Cairo-Bold.ttf');
    font-weight: normal;
    font-size: 24pt;
}

// Colors
$primary-color: #6200EE;
$primary-color-hover: #6250EE;
$secondary-color: #B00020;
$secondary-color-hover: #D42646;
$tertiary-color: #422C2E;
$background-color: #FEEFE6;
$border-color: #5D1049;
$error-color: #E38C09;


// Global Colors
$white: #ffffff;
$blue: #007bff;
$blue-hover: #53a6ff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$green-hover: #60c277;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$black: #000;
$gray: #868e96;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #868e96;
$success: #28a745;
$info: #17a2b8;
$info-hover: #26b6cc;
$warning: #ffc107;
$danger: #dc3545;
$danger-hover: #e65f6c;
$light: #f8f9fa;
$dark: #343a40;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 300;
    background-color: $white;
}

//Default
h1, h2, h3, h4, h5, h6, p, span, label, input, a {
    font-weight: 300;
    font-family: 'head_topic_regular', serif;
    font-size: 20px;
}
a{
    text-decoration: none;
}

//General

//Buttons
.btn{
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    border-radius: 5px;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    color: $white;
    transition: 0.4s;
}
.btn-primary {
    background-color: $primary-color;
    &:hover {
        background-color: $primary-color-hover;
    }
}

.btn-secondary {
    background-color: $white;
    border: 1px solid $primary-color;
    color: $primary-color;
    &:hover {
        color: $primary-color-hover;
        background-color: $white;
    }
}

//Error style
.error {
    color: $error-color;
}
.input-error {
    border: 1.2px solid $error-color;
}

// Default alert message
.alert{
    width: 70%;
    min-height: 2rem;
    margin-right: 20%;
    font-size: 1rem;
    line-height: 2rem;
    display: flex;
    justify-items: center;
    &.success{
        background: $success;
        color: $white;
    }
    &.danger{
        background: $danger;
        color: $white;
    }
}


// Defualt container
.container{
    width: 100%;
    height: 90vh; // 10vh for header height
    display: flex;
    justify-content: center;
    justify-items: center;
}


// Start Styling